<footer class="mt-2 py-2 text-light bg-1 mt-auto py-3">
  <div class="container">
    <div class="row">
      <!-- Name on the left -->
      <div class="col-md-6 d-flex justify-content-start">
        <p class="mb-0">Made by Ofek Grunfeld</p>
      </div>
      <!-- Links on the right -->
      <div class="col-md-6 d-flex justify-content-end">
        <a target="_blank" rel="noopener" class="nav-link" href="https://github.com/OfekGrunfeld">
          <i class="fa-brands fa-github"></i> GitHub
        </a>
      </div>
    </div>
  </div>
</footer>