{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ super() }} | Log In{% endblock %}

{% block content %}
<div class="container theme-showcase" role="main" style="margin-top: 75px">
    <form action="{{ url_for('log_in') }}" method="POST">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.username) }}
        {{ wtf.form_field(form.password) }}
        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <input type="submit" value="Log In">
    </form>
</div>
{% endblock %}