{% extends 'base.html' %}

{% block styles %}
  {{ super() }}
  <style>
    .market-overview {
        margin-top: 1rem;
        padding: 1rem;
        background-color: #f8f9fa;
        border-radius: 0.5rem;
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    }

    .market-overview-header {
        margin-bottom: 1rem;
    }

    .symbol-form {
        margin-bottom: 1rem;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container pb-5">
    <div class="row justify-content-center">
      <div class="col-auto col-md-10 market-overview">
        <h2 class="market-overview-header">Stock Market Dashboard</h2>
        
        <!-- Symbol Selection Form BEGIN -->
        <form method="POST" action="{{ url_for('stock_dashboard') }}" class="symbol-form">
          {{ form.hidden_tag() }}
          <div class="input-group">
            {{ form.symbol(class='form-control', placeholder='Enter Stock Symbol, e.g., NASDAQ:AAPL') }}
            <button type="submit" class="btn btn-primary">View Stock</button>
          </div>
        </form>
        <!-- Symbol Selection Form END -->

        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container" style="height:100%;width:100%">
          <div class="tradingview-widget-container__widget" style="height:calc(100% - 32px);width:100%"></div>
              <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
                {
                "autosize": true,
                "symbol": "{{ symbol }}",
                "interval": "D",
                "timezone": "Etc/UTC",
                "theme": "light",
                "style": "1",
                "locale": "en",
                "enable_publishing": false,
                "allow_symbol_change": true,
                "calendar": false,
                "support_host": "https://www.tradingview.com"
                }
              </script>
            </div>
          </div>
        </div>
        <!-- TradingView Widget END -->
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  {{ super() }} 
{% endblock %}

{% block scripts %}
  {{ super() }}
  <!-- Add any additional JavaScript for tradingview.html here -->
{% endblock %}
