{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <style>
    .parent {
      width:100%;
      height:1080px;;
    }
    .dashboard-container {
      float:right;
      width:65%;
      height:650px;
      grid-template-columns: 3fr 2fr;
      margin:1rem;
    }
    .market-overview {
      padding: 1rem;
      height:600px;
      background-color: #f8f9fa;
      border-radius: 0.5rem;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    }
    .tradingview-widget-container {
      width: 100%;
    }
    .trade-form-container {
      width:30%;
      float:left;
      padding: 1rem;
      margin:1rem;
      background: #f2f2f2;
      border-radius: 0.5rem;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    }
    .form-group {
      margin-bottom: 1rem;
    }
    .price-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      margin-bottom: 1rem;
    }
    .bid-price {
      background-color: #C3E6CB;
      padding: 5px 10px;
      border-radius: 5px;
    }
    .ask-price {
      background-color: #F5C6CB;
      padding: 5px 10px;
      border-radius: 5px;
    }
    .spread {
      font-weight: bold;
    }
    .form-group.hidden {
      display: none;
    }
  </style>
{% endblock %}

{% block content %}

<div class="parent"> 
  <div class="dashboard-container">
    <!-- TradingView Widget -->
    <div class="market-overview">
      <h2 class="market-overview-header">Stock Market Dashboard</h2>
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"> </div>
          <!-- important -->
          <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async> 
            {
            "autosize": true,
            "symbol": "{{ symbol }}",
            "interval": "D",
            "timezone": "Etc/UTC",
            "theme": "light",
            "style": "1",
            "locale": "en",
            "enable_publishing": false,
            "allow_symbol_change": true, 
            "calendar": false,
            "support_host": "https://www.tradingview.com"
            }
          </script> 
        </div>
      </div>
      <!-- TradingView Widget END -->
    </div>  

  <div class="trade-form-container">
    <!-- Symbol Selection Form BEGIN -->
    <form method="POST" class="symbol-form">
      {{ symbol_form.hidden_tag() }}
      <div class="input-group">
        {{ symbol_form.symbol(class='form-control', placeholder='Enter Stock Symbol, e.g., AAPL') }}
        <button type="submit" class="btn btn-sub">View Stock</button>
      </div>
    </form>
    <!-- Symbol Selection Form END -->
    <form method="POST" id="tradeForm">
      {{ trade_form.hidden_tag() }}
      <div class="form-group">
        <div class="price-container">
          <span class="price spread"> {{ symbol }} </span> 
        </div>
      </div>
      {% if bid and ask %}
      <div class="form-group">
        <div class="price-container">
          <span class="price bid-price">Bid {{ bid }}</span>
          <span class="price spread"> {{ "%.2f"|format(ask - bid) }} </span>
          <span class="price ask-price">Ask {{ ask }}</span>
        </div>
      </div>
      {% endif %}
      <div class="form-group">
        {{ wtf.form_field(trade_form.order_type) }}
      </div>
      <div class="form-group">
        {{ wtf.form_field(trade_form.quantity) }}
      </div>
      <div class="form-group limit-price-field hidden">
        {{ wtf.form_field(trade_form.limit_price) }}
      </div>
      <div class="form-group stop-price-field hidden">
        {{ wtf.form_field(trade_form.stop_price) }}
      </div>
      <div class="form-group time-in-force-field">
        {{ wtf.form_field(trade_form.time_in_force) }}
      </div>
      <div class="form-check">
        {{ wtf.form_field(trade_form.stop_loss_check) }}
      </div>
      <div class="form-check">
        {{ wtf.form_field(trade_form.take_profit_check) }}
      </div>
      {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endif %}
      <button type="submit" class="btn btn-primary">Trade</button>
    </form>
  </div>
</div>
<div class="before-footer"></div>
{% endblock %}

{% block footer %}
  {{ super() }} 
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/tradeForm.js') }}"></script>
  
{% endblock %}
