{% extends 'base.html' %}

{% block styles %}
  {{ super() }}
  <!-- Add any additional CSS for tradingview.html here -->
{% endblock %}

{% block content %}
  <div class="container pb-5">
    <div class="row justify-content-center">
      <div class="col-auto col-md-10">
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container" style="height:100%;width:100%">
            <div class="tradingview-widget-container__widget" style="height:calc(100% - 32px);width:100%"></div>
            <div class="tradingview-widget-copyright">
                <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank">
                    <span class="blue-text">Track all markets on TradingView</span>
                </a>
            </div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async></script>
            <script>
              new TradingView.widget(
              {
                "autosize": true,
                "symbol": "NASDAQ:AAPL",
                "timezone": "Etc/UTC",
                "theme": "light",
                "style": "1",
                "locale": "en",
                "enable_publishing": false,
                "withdateranges": true,
                "range": "YTD",
                "allow_symbol_change": true,
                "watchlist": ["NASDAQ:AAPL"],
                "calendar": false,
                "show_popup_button": true,
                "popup_width": "1000",
                "popup_height": "650",
                "container_id": "tradingview-123"
              }
              );
            </script>
        </div>
        <!-- TradingView Widget END -->
      </div>
    </div>
  </div>
  {% include 'partials/footer.html' %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <!-- Add any additional JavaScript for tradingview.html here -->
{% endblock %}
