{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    {{ super() }} | Profile
{% endblock %}

{% block styles %}
 {{ super() }}
 <style>
  .header {
    background-image: linear-gradient(180deg, var(--color-3) 30%, var(--color-2) 100%);
    padding: 100px 20px; /* Adjust padding as needed */
  }
  
  .header h1 {
    font-size: 3rem;
  }
  
  .header p {
    font-size: 1.2rem;
  }
  
  .profile-card {
    background-color: #fff;
    border-radius: 1em;
    padding: 3em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: center;
  }
  
  .card-profile {
    padding-top: 1em;
    margin-bottom: 3em;
  }
  
  .card-profile .card-profile-image img {
    max-width: 10em;
  }
  
  .card-profile .h5 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .card-profile p {
    font-size: 1rem;
    color: #8898aa;
  }
  
  .bg-secondary {
    background-color: #f8f9fe !important;
  }
  </style>
{% endblock %}

{% block content %}
<div class="main-content">
  <!-- Header -->
  <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center bg-gradient-default">
    <!-- Header container -->
    <div class="container-fluid">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello {{ session["username"] }}</h1>
        <p class="text-white mt-0 mb-5">This is your profile page.</p>
      </div>
    </div>
  </div>
  <br />

  <!-- Page content -->
  <div class="container-fluid mt--7">
    <div class="row">
      <!-- First Column -->
      <div class="col-xl-8">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">My account</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <div class="border-bottom pb-2">
                      <label class="form-control-label" for="input-username">Username</label>
                      <div class="text-muted">{{ session["username"] }}</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <div class="border-bottom pb-2">
                      <label class="form-control-label" for="input-email">Email address</label>
                      <div class="text-muted">{{ session["email"] }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Second Column -->
      <div class="col-xl-4">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image"><img src="https://avatars.githubusercontent.com/u/98579886?v=4" class="rounded-circle profile-image"></div>
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="text-center">
              <div class="h5 mt-4">Bio</div>
              <hr class="my-4">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam felis justo, fringilla eget facilisis tincidunt, pretium volutpat sapien.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
  {{ super() }} 
{% endblock %}
