{% extends "base.html" %}

{% block title %}
    Stock Records
{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ database_name }} Records of user {{ username }}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Symbol</th>
                <th>Side</th>
                <th>Order Type</th>
                <th>Shares</th>
                <th>Cost Per Share</th>
                <th>Total Cost</th>
                <th>Status</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record.timestamp|format_iso_datetime }}</td>
                <td>{{ record.symbol }}</td>
                <td>{{ record.side }}</td>
                <td>{{ record.order_type }}</td>
                <td>{{ record.shares }}</td>
                <td>${{ "%.2f"|format(record.cost_per_share) }}</td>
                <td>${{ "%.2f"|format(record.total_cost) }}</td>
                <td>{{ record.status }}</td>
                <td>{{ record.notes or 'N/A' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}